GEMINI_API_KEY=YOUR_GEMINI_API_KEY
GEMINI_MODEL=gemini-2.5-flash
DEBUG=1

OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_MODEL=minicpm-v

#values: gemini, ollama
ENGINE_TYPE=gemini

# Optional Langfuse configuration for tracking prompts and completions
LANGFUSE_SECRET_KEY = "sk-lf-..."
LANGFUSE_PUBLIC_KEY = "pk-lf-..."
LANGFUSE_BASE_URL = "https://cloud.langfuse.com"